.listItem {
    cursor: pointer;
  }

  .textSection {
    max-width: 85%;
  }

  .deleteIcon {
    position: absolute;
    right: 5px;
    top: calc(50% - 15px);
  }

  .deleteIcon:hover {
    color: 'red';
  }